body{margin:0;padding:0;background:#ffe;font-size:14px;font-family:'微软雅黑','宋体',sans-serif;color:#231F20;overflow:auto}
a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}
#text{width:400px;height:425px;left:60px;top:80px;position:absolute;}
#code{display:none;font-size:16px;}
#clock-box {position:absolute;left:60px;top:550px;font-size:28px;display:none;}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:64px;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;}
.space{margin-right:150px;}
/*#BBW_audio_ctr {
    width: 60px;
    height: 60px;
    background: url(//renxin/play.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 2%;
    right: 3%;
    z-index: 999999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
.BBW_play {
    width: 60px;
    height: 60px;
/*    background: url(//static.51bbw.cn/images/play.png) no-repeat;
    background-image: url(//static.51bbw.cn/images/play.png);*/
    background: url('renxin/play.png') no-repeat;
    background-image: url('renxin/play.png');
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 100% 100%;
    position: fixed;
    top: 2%;
    right: 3%;
    -webkit-animation: test3 2s infinite linear;
    animation: test3 2s infinite linear;
    z-index: 999999;
}

.BBW_pause {
    width: 60px;
    height: 60px;
    background: url('./play.png') no-repeat;
    background-image: url('./play.png');
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 100% 100%;
    position: fixed;
    top: 2%;
    right: 3%;
    z-index: 999999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*  音乐播放 */
.BBW_audio_rotate{
    -webkit-animation: audio_rotate 2s infinite linear;
    animation: audio_rotate 2s infinite linear;
}
@keyframes audio_rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}